[submodule "components/lvgl"]
	path = components/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "components/leddisplay"]
	path = components/leddisplay
	url = https://github.com/phkehl/esp32-leddisplay.git
	branch = master
